<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="./vue.js"></script>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">🍔 Monte o seu Hamburguer</a>
        </div>
    </nav>

    <div class="container">
        <div id="app">
            <div class="row flex-row-reverse flex-md-row">
                <div class="col-md-6 col-6">
                    <div class="row mt-5">
                        <div class="col">
                            <img :src="pao[0]" class="img-fluid">
                            <img :src="alface" class="img-fluid">
                            <img :src="ketchup" class="img-fluid">
                            <img :src="mostarda" class="img-fluid">
                            <img :src="maionese" class="img-fluid">
                            <img :src="hamburguer" class="img-fluid">
                            <img :src="pao[1]" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6" v-if="step == 1">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">🥯 Tipo de Pão</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" v-model="tipoPao" value="gergelim">
                                        <label class="form-check-label">
                                           Gergelim
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" v-model="tipoPao" value="australiano">
                                        <label class="form-check-label">
                                           Australiano
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">🥗 Saladas</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" v-model="tipoSalada" value="alface">
                                        <label class="form-check-label">
                                          Alface
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">🥫 Molhos</div>
                                <div class="card-body">
                                    <div class="form-check form form-check-inline">
                                        <input class="form-check-input" type="checkbox" v-model="molhos" value="ketchup">
                                        <label class="form-check-label">
                                          Ketchup de Goiabada
                                        </label>
                                    </div>

                                    <div class="form-check form form-check-inline">
                                        <input class="form-check-input" type="checkbox" v-model="molhos" value="mostarda">
                                        <label class="form-check-label">
                                          Mostarda de Pimenta
                                        </label>
                                    </div>

                                    <div class="form-check form form-check-inline">
                                        <input class="form-check-input" type="checkbox" v-model="molhos" value="maionese">
                                        <label class="form-check-label">
                                          Maionese da Casa
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">🥓 Tipo de Hamburguer</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" v-model="tipoBurguer" value="bovino">
                                        <label class="form-check-label">
                                           Bovino
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" v-model="tipoBurguer" value="frango">
                                        <label class="form-check-label">
                                           Frango
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" v-model="tipoBurguer" value="soja">
                                        <label class="form-check-label">
                                           Soja
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="form-group">
                            <button class="btn btn-primary" @click="nextStep()">Fazer Pedido</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6" v-if="step == 2">
                    <div class="row mt-5">
                        <div class="col">
                            <img :src="pao[0]" class="img-fluid">
                            <img :src="alface" class="img-fluid">
                            <img :src="ketchup" class="img-fluid">
                            <img :src="mostarda" class="img-fluid">
                            <img :src="maionese" class="img-fluid">
                            <img :src="hamburguer" class="img-fluid">
                            <img :src="pao[1]" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                tipoPao: '',
                tipoSalada: [],
                molhos: [],
                tipoBurguer: [],
                step: 1,
            },
            computed: {
                pao() {
                    switch(this.tipoPao) {
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },
                alface() {
                    if(this.tipoSalada.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                ketchup() {
                    if(this.molhos.includes('ketchup')) {
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                mostarda() {
                    if(this.molhos.includes('mostarda')) {
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                maionese() {
                    if(this.molhos.includes('maionese')) {
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                hamburguer() {
                    switch(this.tipoBurguer) {
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'soja':
                            return 'imagens/bovino.png'
                        default:
                            return 'imagens/padrao/hamburguer.png'
                    }
                }
            },
            methods: {
                nextStep() {
                    this.step = 2;
                    console.log(this.step);
                }
            }
        })
    </script>
</body>
</html>